*
!.gitignore
!lab?
lab?/**

!lab1/convert-radix
!lab1/convert-radix/ref
!lab1/convert-radix/src
!lab1/hello-os

!lab2/include
!lab2/src

!lab3/boot
!lab3/boot/include
!lab3/include
!lab3/kernel
!lab3/lib

!lab4/boot
!lab4/boot/include
!lab4/include
!lab4/kernel
!lab4/lib

!**/Makefile
!**/CMakeLists.txt
!**/bochsrc
!**/*.[ch]
!**/*.asm
!**/*.inc
!**/*.py
!**/*.gdb
